* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, 'Lucida Grande', Verdana, 'Microsoft Yahei', STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

div {
    width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    width: 100%!important;
}

p {
    font-size: 16px;
}

.zan {
    font-size: 16px;
}

.zan span {
    font-size: 16px;
    color: red;
}

.inp {
    width: 70%;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(72, 72, 241);
}

.fa {
    font-size: 20px;
    height: 40px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(72, 72, 241);
}

.dian {
    font-size: 20px;
    outline: none;
    border: 1px solid rgb(72, 72, 241);
}

img {
    width: 100%!important;
    height: 200px;
}

.pin ul li p {
    font-size: 12px!important;
    font-family: 800!important;
}

ul li {
    font-size: 18px;
}

ul li span {
    font-size: 18px;
}