* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, 'Lucida Grande', Verdana, 'Microsoft Yahei', STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

.head {
    width: 100%;
    height: 40px;
    background-color: rgb(236, 67, 67);
    line-height: 40px;
    text-align: center;
}

.nav-tabs li a {
    margin: 0 0px!important;
    padding: 5px 12px!important;
    font-size: 20px!important;
}

.new {
    width: 100%;
    height: 400px;
}

.block {
    display: block;
}

.none {
    display: none;
}

.news ul li {
    list-style: none;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    border-bottom: 1px solid red;
}

.tu {
    width: 30%;
    height: 99px;
    background-color: aqua;
}

.tu img {
    width: 100%;
    height: 100%;
}

.wen {
    width: 70%;
    height: 100%;
}

.tex {
    width: 100%;
    height: 78px;
    background-color: aquamarine;
}

.pd {
    width: 100%;
    height: 21px;
    background-color: beige;
}

.pd p {
    float: left;
    margin: 0px 15px;
    font-size: 18px;
}

.tex p {
    margin-left: 5px;
    font-size: 18px;
}

.news ul li .tu {
    float: left;
}

.news ul li .wen {
    float: left;
}